extends ./template/layout.pug

block content
    // main content start
    section#main-content
        section.wrapper
            // overview start
            .row
                .col-lg-12
                    h3.page-header
                        i.fa.fa-laptop
                        |  已接收请求查询
                    ol.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='index.html') Home
                        li
                            i.fa.fa-laptop
                            | 已接收请求查询
            .row
                .col-lg-12
                    section.panel
                        header.panel-heading
                            | 请求信息列表
                        table.table.table-striped.table-advance.table-hover
                            thead
                                    tr
                                        th.col-sm-2.col-lg-2.col-md-2
                                            i.icon_tags_alt
                                            |  交易号
                                        th
                                            |  请求机构
                                        th
                                            i.icon_id
                                            |  身份证号
                                        th
                                            |  查询时间
                                        th
                                            |  查询期限
                                        th
                                            |  请求类型
                                        th.col-sm-1.col-lg-2.col-md-2
                                            |  查询机构
                                        th
                                            |  是否响应
                            tbody
                                each obj in objs
                                    tr
                                        td(style="word-break:break-all; word-wrap:break-word;" ) #{obj.tx_id}
                                        td #{obj.from_orgID}
                                        td #{obj.cus_id_num}
                                        td #{obj.req_dt}
                                        td #{obj.time_line}
                                        td #{obj.req_type}
                                        td(style="word-break:break-all; word-wrap:break-word;" ) #{obj.req_orgIDs}
                                        - var replied='否'
                                        - if(obj.replied=='Y')
                                            - replied='是'
                                        td #{replied}

                section.panel
                    .panel-body
                        .text-center
                            ul.pagination
                                - if (curPage==1)
                                    li
                                        a.disabled «
                                - else
                                    - var str='/chain/queryreceiverequest?page='+(curPage-1)
                                     li
                                         a(href=str) «
                                - for(var i=1; i <= pageNum; i++)
                                    - var str='/chain/queryreceiverequest?page='+i;
                                    - if (i==curPage)
                                        li
                                            a.selected(href=str) #{i}
                                    - else
                                        li
                                            a(href=str) #{i}
                                - if (curPage==pageNum)
                                    li
                                        a.disabled »
                                - else
                                     - var str='/chain/queryreceiverequest?page='+(parseInt(curPage)+1)
                                        li
                                           a(href=str) »


    //script.
        $(document).ready(function () {
            $(".sidebar-menu li").attr("class", "sub-menu");
            $("li#innercusinfoli").attr("class", "active");
            $("li#innerinfoli").attr("class", "open");
        });