extends ./template/layout.pug

block content
    // main content start
    section#main-content
        section.wrapper
            // overview start
            .row
                .col-lg-12
                    h3.page-header
                        i.fa.fa-laptop
                        |  已发布请求查询
                    ol.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='index.html') Home
                        li
                            i.fa.fa-laptop
                            | 已发布请求查询
            .row
                .col-lg-12
                    section.panel
                        header.panel-heading
                            | 请求信息列表
                        table.table.table-striped.table-advance.table-hover
                            thead
                                    tr
                                        th.col-sm-3.col-lg-3.col-md-3
                                            i.icon_tags_alt
                                            |  交易号
                                        th
                                            i.icon_id
                                            |  身份证
                                        th
                                            i.icon_calendar
                                            |  查询日期
                                        th
                                            |  查询类型
                                        th
                                            |  查询期限
                                        th.col-sm-3.col-lg-3.col-md-3
                                            |  查询机构
                                        th
                                            i.icon_cogs
                                            |  操作
                            tbody
                                each obj in objs
                                    tr
                                        td(style="word-break:break-all; word-wrap:break-word;" ) #{obj.tx_id}
                                        td #{obj.cus_id_num}
                                        td #{obj.req_dt}
                                        td #{obj.req_type}
                                        td #{obj.time_line}
                                        td(style="word-break:break-all; word-wrap:break-word;" ) #{obj.req_orgIDs}
                                        - var str='/chain/respondinfo?tx_id='+ obj.tx_id+'&cus_id_num='+obj.cus_id_num+'&req_dt='+obj.req_dt
                                        td
                                            .btn-group
                                                a.btn.btn-primary(href=str)
                                                    i.icon_info_alt
                                                //a.btn.btn-success(href='#')
                                                    i.icon_check_alt2
                                                //a.btn.btn-danger(href='#')
                                                    i.icon_close_alt2

                section.panel
                    .panel-body
                        .text-center
                            ul.pagination
                                - if (curPage==1)
                                    li
                                        a.disabled «
                                - else
                                    - var str='/chain/queryselfrequest?page='+(curPage-1)
                                     li
                                         a(href=str) «
                                - for(var i=1; i <= pageNum; i++)
                                    - var str='/chain/queryselfrequest?page='+i;
                                    - if (i==curPage)
                                        li
                                            a.selected(href=str) #{i}
                                    - else
                                        li
                                            a(href=str) #{i}
                                - if (curPage==pageNum)
                                    li
                                        a.disabled »
                                - else
                                     - var str='/chain/queryselfrequest?page='+(parseInt(curPage)+1)
                                        li
                                           a(href=str) »


    //script.
        $(document).ready(function () {
            $(".sidebar-menu li").attr("class", "sub-menu");
            $("li#innercusinfoli").attr("class", "active");
            $("li#innerinfoli").attr("class", "open");
        });